@keyframes ldio-bdtrclzokm {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-bdtrclzokm div { box-sizing: border-box!important }
.ldio-bdtrclzokm > div {
  position: absolute;
  width: 138.72px;
  height: 138.72px;
  top: 32.64px;
  left: 32.64px;
  border-radius: 50%;
  border: 12.24px solid #000;
  border-color: #93dbe9 transparent #93dbe9 transparent;
  animation: ldio-bdtrclzokm 1.5384615384615383s linear infinite;
}
.ldio-bdtrclzokm > div:nth-child(2) { border-color: transparent }
.ldio-bdtrclzokm > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-bdtrclzokm > div:nth-child(2) div:before, .ldio-bdtrclzokm > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 12.24px;
  height: 12.24px;
  top: -12.24px;
  left: 51px;
  background: #93dbe9;
  border-radius: 50%;
  box-shadow: 0 126.48px 0 0 #93dbe9;
}
.ldio-bdtrclzokm > div:nth-child(2) div:after { 
  left: -12.24px;
  top: 51px;
  box-shadow: 126.48px 0 0 0 #93dbe9;
}
.loadingio-spinner-dual-ring-8ldk0g2tj56 {
  width: 204px;
  height: 204px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-bdtrclzokm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bdtrclzokm div { box-sizing: content-box; }
.loading-box {
  margin-right: auto;
  margin-left: auto;
}